.property-listing-page {
    @extend %layout;
    background: $p42-background;
    position: relative;
    min-height: 830px;
    
    @include media('<desktop'){
        min-height: auto;
    }

    .property-status-links-opener {
        display: block;
        @extend %text-center;
        @extend %text-upparcase;
        @include font(20,21);
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
        background: $p42-color;
        color: $white;
        position: relative;

        @include media('>=desktop'){ display: none;}

        &.active {
            .lines{ display: none;}
            &:after {
                top: 20px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
            }
            &:before {
                top: 21px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
            }
        }

        .lines,
        &:after , &:before {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 0;
            height: 2px;
            width: 30px;
            content: '';
            background: $white;
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            transition: transform 0.5s ease, top 0.5s ease;
            -webkit-transition: transform 0.5s ease, top 0.5s ease;
            -moz-transition: transform 0.5s ease, top 0.5s ease;

        }
        .lines { top: 20px; }
        &:before { top: 30px; }
    }

    .property-status-links {
        @extend %listreset;
        @include align-reset(top,18,22);
        @extend %text-upparcase;
        @extend %text-center;
        font-family: $open-sans;
        font-weight: 700;

        @include media('<tvscreen'){
            @include align-reset(top,14,18);
        }
        @include media('<widescreen'){
            @include align-reset(top,12,15);
        }

        @include media('<desktop'){
            position: absolute;
            top: 41px;
            left: 0;
            right: 0;
            z-index: 500;
        }

        li {
            width: 20%;

            @include media('<desktop'){
                width: 100%;
                display: block;
            }

            &.active {
                a {
                    color: $p42-color;
                }
            }

            a {
                display: block;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                color: #6d6e71;
                padding: 15px;

                &:before {
                    font-family: 'icomoon';
                    @include align(middle);
                    font-weight: normal;
                    padding: 0 5px;
                    margin: -4px 0 0;
                }

                &.active {
                    background: #dde0e2;

                    &:before { content: "\e936";}
                }
                &.pending {
                    background: #d2d6d8;

                    &:before { content: "\e93b";}
                }
                &.rejected {
                    background: #c9cdd0;

                    &:before { content: "\e939";}
                }
                &.expired {
                    background: #c0c4c7;
                    
                    &:before { content: "\e92e";}
                }
                &.deleted {
                    background: #b7bcbe;

                    &:before { content: "\e937";}
                }

                &:hover{ color: $p42-color;}

                .number {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    @include font(14,17);
                    margin: -8px 0 0 ;

                    @include media('<widescreen'){
                        @include font(12,15);
                    }
                    @include media('<desktop'){
                        position: static;
                        @include align(middle);
                        margin: -2px 5px 0;

                        &:before,
                        &:after{
                            @include align(top);
                            content: '(';
                        }
                        &:after {
                            content: ')';
                        }
                    }
                }
            }
        }
    }
    .sorting-filtering {
        @extend %listreset;
        @include align-reset(top, 13,16);
        font-family: $open-sans;
        margin: 0 -10px;
        @extend %text-center;
        padding: 20px 0 0;

        @include media('<widescreen'){
            margin: 0;
        }

        li {
            color: $dark-grey;
            width: 33.33%;
            padding: 0 10px 15px;
            @extend %layout;
            @include align-reset(top, 13,16);
        }
        label {
            width: 100px;
            margin: 5px 0 0;
        }
        .input-holder {
            width: calc(80% - 100px);

            @include media('<widescreen'){
                width: calc(100% - 100px);
            }
        }
    }
    .property-for {
        display: block;
        @extend %text-center;
        color: $white;
        font-family: $open-sans;
        @extend %text-upparcase;
        @include font(21,25);
        background: $p42-default-grey;
        padding: 5px;
    }
    .listing-pro {
        @extend %listreset;
        border-bottom: 1px solid rgba($p42-default-grey, 0.35);

        @include media('<widescreen'){
            width: 1125px;
        }

        li {
            display: block;
            @include align-reset(top, 14,17);
            font-weight: 700;
            font-family: $open-sans;
            color: $p42-default-grey;
            @extend %layout;

            &:nth-child(2n){
                background: $white;
            }

            &.t-h{
                background: $p42-color;
                color: $white;  
                
                .customCheckbox {
                    font-size: 14px !important;
                    line-height: 14px !important;
                }

                .fake-label { color: $white;}
                .fake-checkbox{
                    border-color: $white;

                    &:after { background: $white;}    
                }
                label { padding: 4px 20px 0 30px;}
            }
            p{ margin: 0;}
            .border {
                position: relative;

                &:after {
                    position: absolute;
                    top: -999px;
                    left: 0;
                    bottom: -999px;
                    background: rgba($p42-default-grey, 0.35);
                    width: 1px;
                    content: '';
                }
            }
            .pro-id {
                width: 12%;
                padding: 11px 15px 11px;
                @extend %text-left;

                &.border {
                    &:after { display: none;}
                }
            }
            .pro-type {
                width: 20%;
                padding: 15px 15px 13px;
            }
            .pro-location {
                width: 20%;
                padding: 15px 15px 13px;
            }
            .pro-price {
                width: 10%;
                padding: 15px 15px 13px;
            }
            .pro-size {
                width: 13%;
                padding: 15px 15px 13px;
            }
            .pro-date {
                width: 10%;
                padding: 15px 15px 13px;
            }
            .pro-controls {
                width: 15%;
                padding: 15px 15px 13px;
            }
            .t-d {
                color: $p42-default-grey;
            }
        }
        .control-link {
            @extend %listreset;
            @include align-reset(top, 12,12);

            li {
                padding: 0 5px;

                &:nth-child(2n){ background: transparent;}

                a {
                    text-decoration: none;
                    color: #b2b3b5;

                    span{
                        font-size: 21px;
                        line-height: 1;
                    }
                    &:hover{
                        color: $p42-color;
                    }
                }
            }
        }
    }
}